/* styles.css */

body {
    background-color:beige;
    font-weight: bold;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

p {
    color:black;
    text-align: center;
}

img {
    height:auto;
    width: 300px;
    mix-blend-mode: multiply;
}

ul, ol {
    text-align: center;
    list-style-position: inside;
    li {
        display: inline-block;
        }
}   

.description{
    align-content: center;
    background-color: #e9b878b0;
    border-color:black;
    border-style: outset;
}

.links{

    background-color:rgba(206, 127, 23, 0.664);
    border-style: outset;
    border-color:black;   
}

.ingredients {
    background-color:rgba(206, 127, 23, 0.664);
    border-style:outset;
    border-color:black;   
}

.steps{
    background-color:rgba(126, 77, 13, 0.664);
    border-style: outset;
    border-color: black;
}